* {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-size: 35px;
  margin: 30px;
  color-interpolation-filters: sRGB;
}

#color-palette {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.selected {
  display: inline;
}

#blackColor {
  background-color: black;
}

#redColor {
  background-color: red;
}

#greenColor {
  background-color: green;
}

#blueColor {
  background-color: blue;
}

#button-random {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#pixel-board {
  display: grid;
  justify-content: center;
}

.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
  display: inline-block;
}

.linha {
  height: 40px;
}

#clear-board {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#botoes {
  display: flex;
  justify-content: center;
}
